.p-login {
  padding-top: 2.9166666666667vw;

  &_container {
    max-width: 44.2708333333333vw;
    margin: 0 auto;
  }

  &_form {
    margin-top: 5.7291666666667vw;
    &_text {
      & + .p-login_form_text{
        margin-top: 1.6666666666667vw;
      }
      &_title {
        font-size: 1.6666666666667vw;
        line-height: 1;
      }

      .input_text {
        border: 1px #707070 solid;
        border-radius: 0.5208333333333vw;
        height: 3.3854166666667vw;
        font-size: 1.6666666666667vw;
        padding: 0.5208333333333vw;
        display: block;
        width: 100%;
        margin-top: 0.5729166666667vw;
      }
    }

    &_login{
      display: block;
      width: 14.6354166666667vw;
      line-height: 2.5520833333333vw;
      background-color: #4765F6;
      border: 1px #707070 solid;
      color: #fff;
      margin: 5.15625vw auto 0;
      font-size: 1.1979166666667vw;
      border-radius: 1.1979166666667vw;
    }
  }
}
