.p-loading {
  padding-top: 14.4791666666667vw;
  padding-bottom: 2.0833333333333vw;

  &_img {
    width: 31.0416666666667vw;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  &_text{
    font-size: 2.0833333333333vw;
    text-align: center;
    margin-top: 3.6458333333333vw;
  }
}
