.p-login {
  padding-top: 56px;

  &_container {
    max-width: 850px;
    margin: 0 auto;
  }

  &_form {
    margin-top: 110px;
    &_text {
      & + .p-login_form_text{
        margin-top: 32px;
      }
      &_title {
        font-size: 32px;
        line-height: 1;
      }

      .input_text {
        border: 1px #707070 solid;
        border-radius: 10px;
        height: 65px;
        font-size: 32px;
        padding: 10px;
        display: block;
        width: 100%;
        margin-top: 11px;
      }
    }

    &_login{
      display: block;
      width: 281px;
      line-height: 49px;
      background-color: #4765F6;
      border: 1px #707070 solid;
      color: #fff;
      margin: 99px auto 0;
      font-size: 23px;
      border-radius: 23px;
    }
  }
}
