.p-schedule {
  padding-top: 4.53125vw;

  &_container {
    padding: 0 5.5729166666667vw;
  }

  &_title {
    font-size: 1.9270833333333vw;
  }

  &_main {
    max-width: 32.2916666666667vw;
    margin: 2.4479166666667vw auto 0;

    &_text {
      & + & {
        margin-top: 1.1979166666667vw;
      }

      &.area {
        margin-top: 3.125vw;
      }

      &_name {
        font-size: 1.25vw;
      }

      &_input {
        background-color: #fff;
        width: 100%;
        border-radius: 0.4166666666667vw;
        border: 1px #707070 solid;
        height: 2.4479166666667vw;
        padding: 0.5208333333333vw;
        font-size: 1.0416666666667vw;
      }

      &_area {
        background-color: #fff;
        width: 100%;
        border-radius: 0.4166666666667vw;
        border: 1px #707070 solid;
        height: 8.5416666666667vw;
        padding: 0.5208333333333vw;
        font-size: 1.0416666666667vw;
      }
    }

    &_radio {
      margin-top: 2.4479166666667vw;
      display: flex;
      justify-content: center;

      &_box {
        & + & {
          margin-left: 4.1666666666667vw;
        }

        &_inner {
          .p-schedule_main_radio_item {
            margin-top: 0.78125vw;
            padding-left: 1.25vw;
          }
        }
      }

      &_item {
        display: flex;
        align-items: center;

        input {
          cursor: pointer;
        }

        &_label {
          font-size: 0.8333333333333vw;
          margin-left: 3px;
          cursor: pointer;
        }
      }
    }

    &_submit {
      width: 14.7395833333333vw;
      line-height: 2.0833333333333vw;
      border-radius: 1.0416666666667vw;
      background-color: #ffa33a;
      border: 1px solid #707070;
      font-size: 0.9895833333333vw;
      color: #fff;
      text-align: center;
      margin: 2.6041666666667vw auto 0;
      display: block;
    }
  }
}
