.p-theme {
  padding-top: 2.0833333333333vw;
  padding-bottom: 2.0833333333333vw;

  &_container {
    max-width: 65.7291666666667vw;
    margin: 0 auto;
  }

  &_lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3.125vw;

    &_item {
      width: 25%;

      &:nth-child(4n + 1) {
        margin-left: 0;
      }

      &:nth-child(n + 5) {
        margin-top: 2.9166666666667vw;
      }

      &_link {
        width: 9.375vw;
        display: block;
        margin: 0 auto;

        &_name {
          text-align: center;
          font-size: 1.0416666666667vw;
          color: #707070;
        }

        &_img {
          margin-top: 0.3645833333333vw;

          img{
            width: 100%;
          }
        }
      }
    }
  }
}
